.content{
    background-color:#181719;
  
    
}
.navbar .navbar-nav .nav-link:hover {
    color: #000000;
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .logo{
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 0.875rem;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
  }
  .heading{
      padding-top: 5em;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 3.3em;
    color: #FFFFFF;
  }
  .description{
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 1.4em;
      line-height: 1.3em;
    
  }
  .readmore{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffff;
  }
  .text-decoration-none{
      padding-top: 1em;
  }
  .image{
      padding-top: 7em !important;
      max-width: 100%;
      height: auto;
  }
  
.author{
  position: relative;
  width: 35em;
  height: 13em;
  background-color:#181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  margin-top: -5rem;
  margin-left: 8.5em;
  padding-right: 100px;
}
 .image-card{
     width:  4.5em;
 }
 .author-image{
   margin-left: 3em;
   margin-top: 1.5em;

 }
 .author-name{
  font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   margin-top: 1.9em;
   margin-left: 2em;
 }
 .role{
  color: #828282;

 }
 .maintit{
  font-family: 'Lora', serif;
  margin-left: -3.8em;
  padding-top: 0.5em;
 }
.copyright{
  font-family: 'Montserrat', sans-serif;
  color: #A9A9A9;

}
.avm{
font-weight: 700;
}